---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = 'Acerca de';
const identity = {
    firstName: "Sarah",
    country: "Canada",
    occupation: "Technical Writer",
	hobbies: ["photography", "birdwatching", "baseball"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout pageTitle={pageTitle}>
    <p>Este sitio es un blog creado con astro</p>
    <p>
        Hola, esta practica e spara mejorar los conceptos con astro y poner en practica
        todo lo aprendido de JavaScript, HTML y CSS. 
    </p>
	<p>Here are a few facts about me:</p>
	<ul>
		<li>Mi nombre es {identity.firstName}.</li>
		<li>Vivo en {identity.country} y trabajo en {identity.occupation}.</li>
		{identity.hobbies.length >= 2 &&
			<li>Dos de mis hobbies son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
		}
	</ul>
	<p>Mi stack de skills son:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	{happy && <p>I am happy to be learning Astro!</p>}
	{finished && <p>Termine este tutorial!</p>}
	{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>